header {
  margin: 0;
  border-bottom: 0.5mm solid #ECECEC;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: white;
  position: fixed;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  height: 100%;
  box-sizing: border-box;
}

main {
  /* margin: 0px 0px 12.5vh 7.5%; */
  z-index: -1;
  float: left;
  /* width: 900px;
  min-width: 900px; */
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 50px 0px 50px;
  width: 100%
}

p {
  margin: 0;
  margin-bottom: 10px;
}

aside {
  float: left;
  /* width: 288px;
  min-width: 288px; */
  height: 100%;
  margin: 50px 0px 12.5vh 0px;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 50px 0px 50px;
}

form {
  text-align: center;
  width: 50%;
}

input[type=text] {
  padding: 5px;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  color: #9f9f9f;
  background-color: #FAFAFA;
  width: 100%;
  font-size: 60%;
  background-image: url("images/magnifying.png");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 35% center;
}

input:focus {
  background-color: white;
  border: 1px solid #eaeaea;
  outline: none;
  background-image: none;
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  text-align: center; 
}

/* Classes */
.header_icon {
  max-width: 20%;
  max-height: 50%;
  width: auto;
  height: auto;
  padding: 4%;
}

.post_icon {
  max-width: 10%;
  max-height: 10%;
  width: auto;
  height: auto;
  padding: 1% 1%; 
}

.post {
  /* max-width: 800px;
  max-height:1250px; */
  width: auto;
  height: auto; 
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  margin-top: 50px;
}

.post_user {
  width: 100%;
  height: 55px;
  padding: 1.5% 2%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.post_user_icon {
  border-radius: 50%;
  margin-right: 10px;
}

.user_icon{
  border-radius: 50%;
  box-sizing: border-box; 
  margin-left: 24px;
}

.post_image{
  height: 100%;
  width: 100%;
}

.post_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px
}

.post_comments {
  padding: 10px 25px
}

.post_user > strong {
  /* font-size: 2.5vmin */
}

.bookmark_icon {
  height: 30px;
  padding: 10px; 
  margin-left: auto;
}

.time_stamp {
  color: #9a9a9a;
  font-size: small;
  border-bottom: solid 1px #efefef;
  margin-bottom: 0px;
  padding-bottom: 10px
}

.comment_input {
  color: #999999;
  margin: 20px 0px
}

.comments_ellipses {
  color: black;
  float: right;
  font-size: larger
}

.container {
  /* width: 100%; */
  width: 100vw;
  height: 100%;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr
}

.profile {
  min-width: none;
  height: 20%;
  border: 1px solid #ECECEC;
}

.suggestions {
  /* width: 100%;
  height: 350px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  margin-top: 50px;
  box-sizing: border-box;
  max-width: 100%;
  height: 15%;
  padding-bottom: 5%;
  overflow: hidden;
}

.suggested_profile {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  /* height: 250px;
  width: 35%;
  margin: 16px 20px 14px 20px; */
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  /* padding: 30px */
  max-width: 30%;
  flex: 1;
  margin: 0 2%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 4%;

}

.suggested_profile > p:first-child {
  align-self: flex-end;
  /* margin-bottom: 0px;
  margin-right: 20px; */
}

.suggested_name {
  text-align: center;
}

.suggested_name > p {
  color: #999999;
  font-size: 2vmin;
}

.suggested_name > strong {
  font-size: 2.5vmin;
}

.suggested_profile > div:first-child {
  width: 100%; 
  text-align: center;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggested_profile > div:first-child > p{
  color: #999999;
  /* justify-self: flex-end; */
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 5%;
  box-sizing: border-box;
  font-size: 2vmin;
}

.suggested_profile > div:first-child > img{
  max-height: 70%;
  max-width: 70%;
  width: auto;
  height: auto;
  margin: 0px;
  margin-left: 15%;
}


.follow_button {
  background-color: #3797F0;
  color: white;
  border: none;
  border-radius: 5%/10%;
  width: 80%;
  height: 12.5%;
  padding: 2.5% 0 2.5% 0;
  font-size: 2vmin;
}

/* End Classes */

/* IDs */
#top_bar {
  width: 100%;
}

#search_submit {
  display: none;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  /* flex: 1; */
  flex: 1 1 0;
  width: 0;
}

#instagram_logo {
  padding-left: 5px;
  padding-right: 5%;
  border-right: 0.25mm solid black;
  max-width: 20%;
  max-height: 50%;
  /* margin: 10px 0px 10px 0px;
  flex: 1;
  max-height: 55px;
  display: block;
  height: 55px;
  width: 55px; */ 
  width: auto;
  height: auto;
}

#instagram_text {
  /* padding-top: 10px; */
  max-width: 60%;
  max-height: 27.5px;
  width: auto;
  height: auto;
  padding-left: 5%;
}

#logos {
  display: flex;
  align-items: center;
  /* flex: 1; */
  flex: 1 1 0;
  width: 30%;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 15vw;
  max-width: 20%; */
  max-height: 55px;
  height: 55px;
  /* width: 20%; */
  flex: 1 1 0;
  width: 30%;
}

#stories{
  position: fixed;
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 25%;
  margin-top: 55px;
  height: 350px;
}

#profile {
  position: fixed;
  width: 25%;
  overflow-x: hidden;
  border-bottom: 0.5mm solid #ECECEC;
  height: 55px;
  display: flex;
  padding-bottom: 9px;
  align-items: center;
  box-sizing: border-box;
  padding-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

#profile > .user_icon{
  border-radius: 50%;
  /* height: 45px;
  width: 45px */
}

#profile > div {
  margin-left: 20px
}

#profile > div > p{
  font-size: small;
  color: #999999;
  margin: 0px;
}

#profile > div > strong{
  margin-bottom: 0px
}

#about {
  position: fixed;
  margin-top: 405px;
  width: 25%;
  min-width: 20%;
  overflow-x: hidden;
  box-shadow: 0px -7.5px 10px white;
  border-top: 0.5mm solid #ECECEC;
}

#about > p {
  padding-right: 30%;
  padding-top: 3%;
  color:#999999;
  font-size: 1.75vmin
}

#suggested_profiles {
  display: flex;
  flex-wrap: nowrap;
  height: 90%;
  flex: 2;
}

#suggested_profile > div > img {
  max-height: 10%;
  max-width: 10%;
  width: auto;
  height: auto;
  margin: 0px;
}

#suggestions_text {
  display: flex;
  justify-content: space-between;
}

#suggestions_text > p{
  margin-right: 2%;
  margin-bottom: 0px;
  margin-top: 3%;
  color: #3797F0
}

#suggestions > section:first-child {
  display: flex;
  flex-direction: row;
}

#suggestions_header {
  color: #999999;
  margin: 3% 2% 0% 2%;
  font-size: 3vmin;
  float: left;
}

#stories > figure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  margin-bottom: 20px
}

#stories > figure > div {
  margin-left: 20px;
}

#stories > figure > div > p{
  color: #999999
}

#stories > div:first-child {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 0px;
  font-size: small;
}

#stories > div:first-child > p:first-child{
  color: #999999;
  font-weight: bold;
}

#stories > figure > img { /* https://www.geeksforgeeks.org/how-to-draw-a-circle-with-gradient-border-using-css/ */
  border: solid;
  border-image: linear-gradient(to top, rgb(255, 49, 142), rgb(255, 128, 0)) 1 / 5px;
  border-radius: 50%;
  background-image: linear-gradient( 
    to bottom,  rgb(255, 128, 0) 0%, 
    rgb(255, 49, 142) 100%); 
}

/* End IDs */

@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
  }
}
