header {
  margin: 0;
  border-bottom: 0.5mm solid #ECECEC;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7.5%;
  background-color: white;
  position: fixed;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  height: 100%;
  box-sizing: border-box;
}

main {
  margin: 0px 0px 12.5vh 7.5%;
  z-index: -1;
  float: left;
  width: 900px;
  min-width: 900px;
  height: 100%;
  box-sizing: border-box;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

aside {
  float: left;
  width: 288px;
  min-width: 288px;
  height: 100%;
  margin: 50px 7.5% 12.5vh 10px;
  box-sizing: border-box;
}

input[type=text] {
  padding: 5px;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  color: #9f9f9f;
  background-color: #FAFAFA;
  width: 250px;
}

input:focus {
  background-color: white;
  border: 1px solid #eaeaea;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  text-align: center; 
}

/* Classes */
.header_icon {
  height: 30px;
}

.post_icon {
  height: 30px;
  padding: 10px 15px; 
}

.post {
  max-width: 800px;
  max-height:1250px;
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  margin-top: 50px;
}

.post_user {
  width: 100%;
  height: 55px;
  padding: 1.5% 2%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.post_user_icon {
  border-radius: 50%;
  margin-right: 10px;
}

.user_icon{
  border-radius: 50%;
  box-sizing: border-box; 
  margin-left: 12px
}

.post_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px
}

.post_comments {
  padding: 10px 25px
}

.bookmark_icon {
  height: 30px;
  padding: 10px; 
  margin-left: auto;
}

.time_stamp {
  color: #9a9a9a;
  font-size: small;
  border-bottom: solid 1px #efefef;
  margin-bottom: 0px;
  padding-bottom: 10px
}

.comment_input {
  color: #999999;
  margin: 20px 0px
}

.comments_ellipses {
  color: black;
  float: right;
  font-size: larger
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  display: inline-block;
}

.profile {
  min-width: none;
  height: 20%;
  border: 1px solid #ECECEC;
}

.suggestions {
  width: 800px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  margin-top: 50px;
  justify-content: space-evenly;
}

.suggested_profile {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 2.5px;
  height: 250px;
  width: 35%;
  margin: 16px 20px 14px 20px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px
}

.suggested_profile > p:first-child {
  align-self: flex-end;
  margin-bottom: 0px;
  margin-right: 20px;
}

.suggested_name > p {
  color: #999999
}

.suggested_profile > div:first-child {
  width: 100%; 
  text-align: center;
}

.suggested_profile > div:first-child > p{
  float: right;
  color: #999999;
  width: 12px;
}


.follow_button {
  background-color: #3797F0;
  color: white;
  border: none;
  border-radius: 5%/10%;
  width: 140px;
  height: 35px;
  padding: 7.5px 0px 7.5px 0px;
}

/* End Classes */

/* IDs */
#top_bar {
  width: 100%;
}

#search_submit {
  display: none;
}

#search {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#instagram_logo {
  padding-left: 5px;
  padding-right: 20px;
  margin: 20px 0px 20px 0px;
  border-right: 0.25mm solid black;
}

#instagram_text {
  padding-top: 10px;
  padding-left: 20px;
}

#logos {
  display: flex;
  align-items: center;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15vw;
}

#stories{
  position: fixed;
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20%;
  margin-top: 55px;
  height: 350px;
}

#profile {
  position: fixed;
  width: 20%;
  overflow-x: hidden;
  border-bottom: 0.5mm solid #ECECEC;
  height: 55px;
  display: flex;
  padding-bottom: 9px;
  align-items: center;
  box-sizing: border-box;
}

#profile > .user_icon{
  border-radius: 50%;
  height: 45px;
  width: 45px
}

#profile > div {
  margin-left: 20px
}

#profile > div > p{
  font-size: small;
  color: #999999;
  margin: 0px;
}

#profile > div > strong{
  margin-bottom: 0px
}

#about {
  position: fixed;
  margin-top: 405px;
  width: 20%;
  min-width: 20%;
  overflow-x: hidden;
  box-shadow: 0px -7.5px 10px white;
  border-top: 0.5mm solid #ECECEC;
}

#suggested_profiles {
  display: flex;
  flex-wrap: nowrap;
}

#suggestions_header {
  color: #999999;
  margin: 10px 16px 0px 16px
}

#stories > figure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  margin-bottom: 20px
}

#stories > figure > div {
  margin-left: 20px;
}

#stories > figure > div > p{
  color: #999999
}

#stories > div:first-child {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  margin-bottom: 0px;
  font-size: small;
}

#stories > div:first-child > p:first-child{
  color: #999999;
  font-weight: bold;
}

/* End IDs */